@font-face {
    font-family: 'iran';
    src: url('../../font/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'iran';
    src: url('../../font/IRANSansWeb\(FaNum\).ttf') format('truetype');
}
