.overlay {
    perspective: 800px;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(245,245,245,0.4);
    overflow: hidden;
    text-align: center;
}
/*inputFile*/

.inputfile ~ label {
    width: 200px;
    font-size: 13px;
    box-shadow: none;
    display: block;
    margin: auto;
    position: relative;
    top: 30px;
}


/**/
    .overlay.hide {
        width: 0;
        height: 0;
    }

    .overlay.show {
        width: 100%;
        height: 100%;
    }

    .overlay > .pop.hide {
        opacity: 0;
    }

    .overlay > .pop.show {
        animation: anim1 1s;
    }

@keyframes anim1 {
    0% {
        opacity: 0;
        transform: translateY(200px) rotateX(-80deg) translateY(200px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) rotateX(0deg) translateY(0px);
    }
}
.overlay > .pop {
    width: 550px;
    height: 570px;
    background: #fefefe;
    margin: 90px auto;
    border-radius: 7px;
    font-family: iran;
    color: #000;
    overflow: hidden;
    box-shadow: 0 40px 45px 0 #a3a3a380;
    position: relative;
}


    .overlay > .pop > .box {
        height: 3px;
        width: 100%;
        background: linear-gradient(-45deg,rgb(2, 78, 255),rgb(110, 153, 254));
    }

.overlay > .pop > .btn-holder {
    padding: 0 20px;
    width: 150px;
    margin: 30px 0 ;
    font-size: 14px;
    display: inline-block;
}

.overlay > .pop > .alertTitle{
    display: block;
    margin-top: 40px;
    color: #BABABA;
    font-size: 13px;
}
.overlay > .pop  .input-boxStyle{
    width: 340px;
    margin: auto;
}
.preViewImage{
    height: 140px;
    width: 150px;
    float: none;
    margin: auto;
    margin-bottom: 20px;
}