body {
  font-family: iran;
  direction: rtl;
}
@font-face {
  font-family: 'mit';
  src: url('../../fonts/y-i/Yekan.ttf') format('truetype');
}
@font-face {
  font-family: 'iran';
  src: url('../../fonts/y-i/IRANSans.ttf') format('truetype');
}
#items_startData > .sli_s {
  font-family: iran;
}

#form > .items > .title {
  color: #344675;
}
#items_startData > input {
  text-indent: 6px;
  border-radius: 0.4285rem;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  background: transparent;
  background-color: transparent;
  background-clip: border-box;
  opacity: 1;
  display: block;
  height: calc(2.25rem + 2px);
  font-size: 0.995rem;
  line-height: 1.42857;
  background-color: transparent;
  background-clip: padding-box;
  width: 80%;
  margin: 10px 38px;
  padding: 3px;
  position: relative;
  color: #222a42;
  border: 1px solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-color: rgba(29, 37, 59, 0.5);
  box-shadow: none;
}

#items_startData > input.green {
  border: 1px solid #00bf9a;
  background: transparent;
  box-shadow: none;
  background: url('../../images/icons8-buy-48.png') no-repeat;
  background-size: 14px;
  background-position: 9px;
}
